{% load staticfiles %}
<html >
  
  <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  <title>FostPost</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

      
        <link rel="stylesheet" href="{% static 'javascript/mdColorPicker.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
         
            <!--SC 8.26.16 this is JS for Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 
      <script type="text/javascript">
        
  WebFontConfig = {
    google: { families: [ 'Antic::latin', 'Belleza::latin', 'Bitter::latin', 'Asar::latin', 'Asap::latin', 'Anaheim::latin', 'Allerta::latin', 'Arvo::latin', 'Armata::latin', 'Arbutus::latin', 'Contrail+One::latin', 'Baumans::latin', 'Anton::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); 
  
      </script>
      <script type="text/javascript">
   var DJANGO_STATIC_URL="{% static '' %}"

 </script>
 
<link rel="stylesheet" type="text/css" href="{% static 'css/font_family.css' %}">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js">
</script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">


<script src="http://code.createjs.com/createjs-2014.12.12.min.js">
</script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.js">
</script>
<script src="{% static 'javascript/libraries/mfont.js' %}">
</script>
<script src="{% static 'javascript/libraries/flowtype.js' %}">
</script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js">
</script>
<script src="{% static 'javascript/libraries/tinycolor.js' %}">
</script>
<script src="{% static 'javascript/libraries/mdColorPicker.min.js' %}">
</script>
<script src="{% static 'javascript/libraries/processing.js' %}">
</script>
<script src="{% static 'javascript/libraries/ng-file-upload-shim.js' %}">
</script>
<script src="{% static 'javascript/libraries/ng-file-upload.js' %}">
</script>
<script src="{% static 'javascript/libraries/ng-file-upload-all.js' %}">
</script>
<script src="{% static 'javascript/fostpost_app/controllers/app.js' %}">
</script>
 <link rel="stylesheet" href="{% static 'css/create_page.css' %}">

  </head>
  
<body ng-app="angularjs-starter" style="margin-top: -8px;background-color:#F5F7FA;width:100%;margin-right:0">
  <div ng-controller="createCtrl" id="wrapper">


    <!--Header Row-->
    <div class="row">
        <div class="header-style">
          <div class=" col-sm-2" ng-click="">
            <img src="{% static 'images/fostpostword.png' %}" class="header-logo-img">
          </div>
          <div class="header-logout col-sm-offset-8 col-sm-2" ng-click="">
                Logout
          </div>
       </div>
    </div>
    <!--End of header row -->


    <!--Canvas sizes and Downloads Row -->
    <div class="row row-canvas-tabs"> 
      <div class = "col-sm-12 nopad col-xs-8 nopad"  id="tabs">
        <div class= "btn-group" role="group" aria-label="...">
        {[facebook_selected.selected]}
          <select ng-model="facebook_selected.index" ng-change="change_canvas_size(1)" ng-options = "obj.id as obj.name for obj in facebookSizes">
          </select>
        </div>
        <div class= "btn-group" role="group" aria-label="...">
          <select ng-model="google_selected.index" ng-change="change_canvas_size(2)" ng-options = "obj.id as obj.name for obj in googleSizes">
          </select>
        </div>
        <div class="btn-group" role="group" ng-click="change_canvas_size(3)">
          <button type="button" class="btn btn-default btn-canvas" id="twittertab" >Twitter 
          </button>
        </div>
        <div class="btn-group" role="group" ng-click="change_canvas_size(4)">
          <button type="button" class="btn btn-default btn-canvas" id="pintab" >Pinterest 
          </button>
        </div>
        <div class="btn-group" role="group" ng-click="change_canvas_size(5)">
          <button type="button" class="btn btn-default btn-canvas" id="instatab" >Instagram 
          </button>
        </div>
        <div class="btn-group" role="group" ng-click="change_canvas_size(6)">
          <button type="button" class="btn btn-default btn-canvas" id="linkedintab" >LinkedIn
          </button>
        </div>
        <div class="btn-group" role="group" ng-click="change_canvas_size(7)">
          <button type="button" class="btn btn-default dropdown-toggle btn-canvas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="customtab">Custom Canvas
          </button>
          <ul class="dropdown-menu">
            <div class="row">
              <div class="col-sm-12">
                <input type="text" class="form-control" id="custom-canvas-width" placeholder="Width(px)" ng-model="custom_width">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <input type="text" class="form-control" id="custom-canvas-height" placeholder="Height(px)" ng-model="custom_height">
              </div>
            </div>
          </ul>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-canvas btn-canvas-download" ng-click="download_canvas()">DOWNLOAD
          </button>
        </div>
      </div>
    </div>
<!-- END ROW for canvas tabs without Angular Dirs -->


<!-- Start of the container that holds container that contains sidenav bar and the canvas and text fields-->
<div class="container-fluid">
  <div class="row">


  <!-- div for the side nav bars first column - Images,Fonts,Colors,Logo,Save they determine what populates in the second column of nav bar -->
    <div class="sidenav col-sm-1" style="padding: 0px;margin: 0px;">
      <ul class="nav-toolbar">
        <li style="height:80px;">  
              <a href="#" ng-click="changeItem(2)" class="sidenav_svg" >
                <img  src="{% static 'svg/image.svg' %}"  align="middle"  />
                <p> Images
                </p>
              </a>
            </li>
            <li style="height:80px;">  
              <a href="#" ng-click="changeItem(3)" class="sidenav_svg">
                <img  src="{% static 'svg/font.svg' %}" align="middle" />
                <p> Fonts
                </p>
              </a>
            </li>
            <li style="height:80px;">  
              <a href="#" ng-click="changeItem(4)" class="sidenav_svg">
                <img  src="{% static 'svg/addlogo.svg' %}" align="middle" ngf-select="upload_logo($file)" /> 
                <p ngf-select="upload_logo($file)"> Logo
                </p>
              </a>
            </li>
            <li style="height:80px;">  
              <a href="#" ng-click="changeItem(5)" class="sidenav_svg">
                <img  src="{% static 'svg/background.svg' %}" align="middle" />
                <p> Colors
                </p>
              </a>
            </li>
            <li style="height:80px;" ng-click="save_creative()">  
              <a href="#" ng-click="changeItem(6)" class="sidenav_svg">
                <img  src="{% static 'svg/save.svg' %}" align="middle" />
                <p> Save 
                </p>
              </a>
            </li>
      </ul>
    </div>
    <!--End of populating the first column of navbar-->


    <!-- Pull out drawer-->
    <div class="col-sm-3 drawer-overall">


      <!--UL that populates the unploaded imagees -->
       <ul ng-if="selected_navbar_item==2 && unsplash == 1">
        <li>
          <div class="nav nav-tabs list-inline" role="tablist" >
            <div ng-click="craftcloud_item()" role="presentation" class="active" id="tab-left">
              <a href="#test" aria-controls="home" role="tab" data-toggle="tab">Uploaded
              </a>
            </div>
            <div ng-click="uploaded_item()"role="presentation" id="tab-right">
              <a href="#test" aria-controls="settings" role="tab" data-toggle="tab">Unsplash
              </a>
            </div>
          </div>
         </li>
         <li id="imageLi" ng-repeat= "i in uploaded_images track by $index"  ng-click="selected_upload_image(i)" style="width:100%;height:auto;">
            <img ng-src={[i]} style="width:100%;" ng-style="{'height':uploaded_aspects(i)}" align="middle" /> 
          </li>
       </ul>
       <!--End of UL that populated uploaded images -->


       <!--Start of UL that populates unsplash images -->
        <ul ng-if="selected_navbar_item==2 && unsplash == 0">
          <li>
            <!-- tabs for image search and upload -->
          <div class="nav nav-tabs list-inline" role="tablist" >
            <div ng-click="craftcloud_item()" role="presentation" class="active" id="tab-left">
              <a href="#test" aria-controls="home" role="tab" data-toggle="tab">Uploaded
              </a>
            </div>
            <div ng-click="uploaded_item()"role="presentation" id="tab-right">
              <a href="#test" aria-controls="settings" role="tab" data-toggle="tab">Unsplash
              </a>
            </div>
            <!-- text field input for image search -->
            <div class="input-group">
              <span class="input-group-addon" id="smalltext_line">Search
              </span>
                <input type="text" ng-model="unsplash_query" ng-change ="inputChange()" type="text" class="form-control text-field" placeholder="Enter Small Text" aria-describedby="basic-addon1">
            </div>
          </div>
         </li>
         <li id="imageLi" ng-repeat= "i in imageArray track by $index"  ng-click="selected_upload_image(i)" style="width:100%;height:auto;">
            <img ng-src={[i]} style="width:100%;" ng-style="{'height':uploaded_aspects(i)}" align="middle" /> 
          </li>   
        </ul>
         <!--End of UL that populates unsplash images -->


         <!--Start of UL that populates fonts -->
         <ul class="drawer-font" ng-if="selected_navbar_item==3">
            <li id="li-font" ng-repeat= "i in font_imageArray track by $index" ng-click="changeFont($index)" style="color:white" ng-style="{ 'font-family' : fontArray[$index] }"> {[ MainText ]}  
            </li>
         </ul>
         <!--End of UL that populates fonts -->

         <!-- Start of UL that loads colors -->
         <ul class="drawer-colors" ng-if="selected_navbar_item==5">
            <li ng-repeat= "i in colors_Array track by $index" ng-style="{'background-color':'rgb(' + i+')'}" ng-click="changeColor($index)" >
            </li>
            <li>
              <div md-color-picker="scopeVariable.options" ng-model="scopeVariable.color" style="width:100%;height:100%;">
              </div>
            </li>
         </ul>
         <!-- End of UL that loads colors -->
    </div> 


    <!-- ZOOMBAR -->
    <div class="col-sm-1">
      <canvas id="zoombarcanvas"  ng-style="{ 'width' :zoomcanvas_width,'height':zoomcanvas_height }">
      </canvas>
    </div>

    <!--Canvas and Input Fields sections -->
    <div class="col-sm-7 canvas-style" id="canvasParent" align="right">
      <canvas id="adcanvas" ng-click="addOnClick($event)" ng-style="{ 'width' : canvas_width,'height':canvas_height,'background' : scopeVariable.color }" ngf-drop="upload($file)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*'">I am the cool canvas
      </canvas>
       <!-- CANVAS - text entry fields -->
      <div class="input-group" id="text-input-group">
        <span class="input-group-addon" id="maintext_line">Large Text
        </span>
        <input type="text" class="form-control text-field" ng-model="MainText" placeholder="Enter Large Text" aria-describedby="basic-addon1">
      </div>
      <div class="input-group" id="text-input-group">
        <span class="input-group-addon" id="bodytext_line">Medium Text
        </span>
        <input type="text" class="form-control text-field"  ng-model="BodyText" placeholder="Enter Medium Text" aria-describedby="basic-addon1">
      </div>
      <div class="input-group" id="text-input-group">
        <span class="input-group-addon" id="smalltext_line">Small Text
        </span>
        <input type="text" class="form-control text-field" ng-model="SmallText" placeholder="Enter Small Text" aria-describedby="basic-addon1">
      </div>
    </div>
    <!-- END CANVAS - Col -->
  </div>
</div>

</body>
</html>