<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS sss-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--- Include Angular min.js -------------->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head> 
  <body fontApp>
    <!--------------------Begining Container-->
    <div class="container-fluid">
        <div class="header_row">
          <img src="fostpost_logo.svg" >
          <p>What's your brand's dress code ? </p>
        </div>
     
        <div class="conte_row">

          <div class="col-md-2" ng-repeat="font in fonts" ng-click="chooseFont($index)" ng-show="user_authenticated">
              <img src="[[font.image]]">
              <p> [[font.font_name]] </p>
          </div>
          <div class="col-md-2" ng-repeat="font in fonts" ng-click="chooseFont($index)" ng-show="!(user_authenticated)">
              Please Login into fostpost
          </div>

        </div>

        <div class="row" ng-class="get_font_style">
            <p> Choose a Font </p>
        </div>

    </div>

    <!------------------Ending Container-->
  </body>
</html>