{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <!-- Google Site Verification -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="google-site-verification" content="_zsBCrq61jCldtc0qr91SgJN-JWg-EMzIT34LXRb1fE" />
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Simple, Breezy Image Edits</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/aboutmods.css' %}" >
   <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
   <script type="text/javascript" src="{% static 'javascript/fostpost_app/controllers/font_controller.js' %}"></script>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="font_app" ng-controller="font_controller">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav top-logo" href="#">
                    <img class= " center-start" src="{% static 'svg/fostpostwordSM.svg'%}" alt="Description" >
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#services">Legal</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container ">

            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <div class="intro-message">
                        <h1>Simple, Breezy Image Edits</h1>
                        <h3>For Social Media, Blogs & Newsletters</h3>
                  </div>
                  <div class="row">
                    <div class="sunny-background center-block">
                    </div>
                  </div>
              </div>
          </div>

                        <!--<hr class="intro-divider"> -->
                                <!-- START SC Modal Boostrap code --> 
            <div class="row">             
                <div class="start-button col-md-4 col-md-offset-4">
                     <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Start Making Images
                     </a>
                </div>
            </div>
    <!-- END SC Modal Boostrap code -->
            
            
        <!-- TRY to put image in -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 imac-padding center-block mountains">
                       <img class= "img-responsive" "center-start" src="{% static 'images/prod_imac.png'%}" alt="Description" >
                    </div>
                </div>
            </div>
        </div>

                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <h2 class="section-heading">Instant Media Sizes<br>For Social</h2>
                    <p class="lead">Start with any media size, quickly create another one. Easily switch between different image sizes without having to redo anything. </p>
                </div>
                <div class="row">
                    <div class="col-lg-5  col-sm-6">
                        <img class="img-responsive" src="{% static 'images/prod_images.jpg'%}" alt="">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <h2 class="section-heading">Professionally Designed Layouts</h2>
                    <p class="lead">Professionally organize your content with our designer layout engine. Try out different versions with one click, download or save the ones you like. </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'images/prod_layouts.jpg'%}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <h2 class="section-heading">Curated Fonts and Images</h2>
                    <p class="lead">Choose from professionally curated Google Fonts to add text on your image. Find the perfect image for your audience with built in keyword searches.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'images/prod_fonts.jpg'%}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class= "col-md-4 col-md-offset-4">
                    <div class="row">
                         <div class="start-button">
                             <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Start Making Images
                             </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <!-- START SC Modal Boostrap code -->
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog" id= "model-lg" id="modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                              <a class="close" data-dismiss="modal">×</a>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Get Fosty!
                          </h4>
                        </div>
                        <div class="modal-body">
                            <h3 class="fbmodal">Continue with Your Email Address </h3>
              <!-- SC Start of Facebook LogIn Button -->
                            <div class="fb-login-button"  data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false">
                            </div>
        <!-- SC End of Facebook LogIn Button -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address
                                </label>
                                <input type="email" class="form-control input-lg" id="logInEmail"  ng-model="email_field" ng-focus="clear_email()" placeholder="">
                          </div>
                          <button type="submit" class="btn btn-default" ng-click="email_submit()">Submit
                          </button>
                       </div>
                            <div class="modal-footer">
                            <a id="closemodal" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close
                            </a>          
                            </div>
                        </div>    
                    </div>
    </div>
<!-- END SC Modal Boostrap code -->

    <!-- Footer -->
    <footer>
        <div class="container">
                <div class="row center-block">
                     <h3>be fosty ;)
                    </h3>
                </div>
                    <div class="row">
                    <div class=" col-md-6 bottom-logo">
                                            
                        <img class= " center-start bottom-logo" src="{% static 'svg/fostpostwordSM.svg'%}" alt="Description" >
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                            <a href="mailto:sean@craftcloud.io">sean@craftcloud.io</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; CraftCloud.io, Inc. 2016. All Rights Reserved<br>Privacy and Terms of Service

                    </p>

                </div>
            </div>
        </div>
    </footer>
<!---Js-Modules------>
    <!-- jQuery -->
    <script src="{% static 'javascript/bootstrap.min.js'%}"></script>
<!---Js-Modules------>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
