<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Adflow.io Terms of Use</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <!-- Bootstrap theme -->
    <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/createmods.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
  </head>


  <body>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>

      <h1>CraftCloud.io, Inc. Privacy Policy<h1>

        <h3>
          2.6 Privacy Policy 
        </h3>

        <p>
          This Privacy Policy is part of our agreement governing your use and access to our website and our Services. The purpose of this Privacy Policy is to inform you of what types of information that may be gathered about you, whether by Craftcloud, Sponsoring Organizations or third parties, when you visit our website or use our Services, how such information may be used, whether such information will be disclosed to anyone, and the choices you have regarding use of such information. This Privacy Policy is intended to inform you of the treatment of information posted on the websites located at www.Craftcloud.io. This Privacy Policy does not apply to any other website to which this website is linked and or affiliated, or the websites of Sponsoring Organizations. 

By accessing and using this website or our Services of Craftcloud, you consent to the collection and use of personally identifiable information you provide on our website or through our Services and any use of such information in accordance with this Privacy Policy, as amended from time to time. 

Any personally identifiable information that you may provide on our website or Services may reveal or allow others to identify aspects of your life that are not expressly stated on your profile (for example, your picture or your name may reveal your gender). By providing personal information to us when you create or update your account and profile, you expressly and voluntarily accept the terms and conditions of our agreement and freely accept and agree to our collection, processing and possession of your personally identifiable information as provided in the agreement for as long as you maintain a user account on our website or Services. Providing any personally identifiable information or other information deemed sensitive by applicable law is entirely voluntary on your part. You may withdraw your consent to our further collection, processing and possession of your personally identifiable information at any time by closing your user account.  

Maintaining your trust is very important to us, so we use our best efforts to adhere to the following principles to protect your privacy:

Craftcloud will only provide your personally identifiable information to third parties: (1) with your consent; (2) where it is necessary to carry out your instructions; (3) as reasonably necessary in order to provide you with access to our website, Services, features and functionality; (4) when we reasonably believe it is required by law, subpoena or other legal process; or (5) as necessary to enforce our agreement or protect the rights, property, or safety of Craftcloud, our users, and the public.
Craftcloud has implemented security safeguards designed to protect your personally identifiable information in accordance with industry standards.
Authorized Sponsoring Organizations and third parties collecting or providing information from our website or Services have agreed to comply with the privacy principles in this Privacy Policy. 
If privacy practices change or vary from this Privacy Policy you will be notified. Such notifications will be posted on this page.
 
Craftcloud will be collecting and tracking information about your activities on the website on an aggregate and or individual basis and will know and keep track of precisely who you are. We collect information from you when you use our Services including, not exclusively, your name, university attended, age, interests, addresses, and contact information. Other information that we automatically collect and/or track includes: (1) the home server domain names, e-mail addresses, and type of web browser of visitors to the Website; (2) the e-mail addresses of visitors that communicate with Craftcloud via e-mail, bulletin boards, chat groups or public pages; (3) information knowingly provided by users in online forms or otherwise, registration forms, and surveys; and (4) aggregate and user-specific information on which pages visitors access. 

This is done to keep track of what users may be interested in, to show the users other users’ relevant Information, and to facilitate support and improvement of our website and Services. Craftcloud does not share such information with third parties. However, we may use information to contact you again either by e-mail or by regular mail or telephone in accordance with this agreement.

Craftcloud, Sponsoring Organization and/or third parties, may place Internet cookies on the hard drive of your computer when you access our website or Services. Internet cookies save a visitor's name, password, user name, screen preferences, the pages of our website viewed by the visitor and the advertisements, if any, viewed or clicked by the visitor.  When the visitor returns to our website, Craftcloud will recognize the visitor by the Internet cookie and customize the visitor's experience accordingly.   

In addition, in order to access certain Services, you may be required to provide certain additional identifying information. You never have to answer these questions although this may limit the Services available to you. Examples of such Services include gaining access to a Sponsoring Organization’s groups and other future features. This information may include your name, areas of interest, your username and password used to access third party services, method of payment if required, and, if applicable, your credit card number. If you are comfortable providing the requested information, such Services are available to you that are impossible for us to offer to anonymous users. If you prefer, you may set your computer to refuse cookies. However, you may not be able to take full advantage of the website if you do so. We reserve the right to request any additional information necessary to establish and maintain your use of our Services.

We use information collected to analyze what our users like and do not like about our website or Services so that we can design better products and services. Information about what you are searching for also helps focus the Information, products and services presented to you, in an effort to make them more valuable to you. In addition, we may use information collected in aggregate to attract customers, Sponsoring Organization, potential licensors or affiliates to our website.  However, we will not sell or disclose any personally identifiable information or Private Information without your express written consent.

Other third parties that may place links on our website may collect information about you when you click on their links or visit their website. You should contact these companies directly if you have any questions about their collection and use of information and their privacy policies, as further described below in Links.  This Privacy Policy will continue to apply to you and your information after your access or account is terminated.
 
If Craftcloud changes this Privacy Policy those changes will be posted to this Privacy Policy, the website, and other places deemed appropriate by Craftcloud so that you will always know what information is gathered, how it may be used and whether it will be disclosed to anyone. Craftcloud will use information collected in accordance with the Privacy Policy under which the information was collected.

If Craftcloud is going to use personally identifiable information collected from users in a manner different from that stated at the time of collection users will be notified via email. Users will have a choice as to whether or not their information is used in this different manner.  However, if users have opted out of all communication with Craftcloud, or deleted or deactivated their account, then they will not be contacted, nor will their personal information be used in this new manner. In addition, if any material changes are made to Craftcloud’s privacy practices that do not affect user information already stored in a Craftcloud database, a notice will be posted prominently on this website notifying users of such change(s). In some cases where a notice is posted users who have opted to receive communications from Craftcloud will also be emailed, notifying them of the changes in our privacy practices.  

Any information that is collected, tracked or screened by Craftcloud is the property of Craftcloud, subject to and protected by applicable law.  

After you've finished accessing your Craftcloud account, do not forget to log off. This prevents someone else from accessing your account if you leave your computer and your session has not automatically shut down. 
</p>
</body>
 </html>